/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: pfbeausans;
  src: url(assets/fonts/PFBeauSansPro-Light.eot) format("embedded-opentype");
}

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
